.heading-1,
.heading-2,
.heading-3,
.heading-4 {
	font-family: $fontCustom;
	text-transform: uppercase;
	line-height: 1;
}

.heading-1 {
	font-size: 46px;
	letter-spacing: -2px;

	@include tablet {
		font-size: 78px;
	}
}


.heading-2 {
	font-size: 38px;
	letter-spacing: -1px;

	@include tablet {
		font-size: 54px;
	}
}


.heading-3 {
	font-size: 38px;
	line-height: 0.8;
	letter-spacing: -1px;

	@include tablet {
		font-size: 41px;
	}
}


.heading-4 {
	font-size: 14px;
	letter-spacing: -0.3px;
	line-height: 0.85;

	@include tablet {
		font-size: 20px;
	}
}
