.news-list {
  // background-color: pink;
  width: 100%;
  overflow: hidden;
  clear: both;
  padding-top: $nf-spacing/2;

  .news-list--item {
    float: left;
    position: relative;
    cursor: pointer;

    width: 100%;
    min-height: 200px;
    margin-bottom: $nf-spacing/2;

    @include fromWidth($smallWidth + 1px) {
      margin-right: 2%;
      margin-bottom: 2%;
      width: 48%;
      min-height: 206px;

      &:nth-child(2n+1) {
        clear: left;
      }

      &:nth-child(2n+2) {
        margin-right: 0;
        clear: right;
      }
    }

    @include fromWidth($mediumWidth) {
      margin-right: 2%;
      margin-bottom: 2%;
      width: 32%;
      min-height: 206px;

      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(2n+2) {
        margin-right: 2%;
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: left;
      }

      &:nth-child(3n+3) {
        margin-right: 0;
        clear: right;
      }
    }

    &:hover {
      .news-list--title {
        top: 0;
        bottom: auto;
        width: 100%;
        height: 100%;

        font-size: 36px;
      }
    }

    @for $i from 1 through 6 {
      &:nth-child(6n + #{$i}) {
        background: nth($colors, $i);

        .news-list--title {
          background-color: transparentize(nth($colors, $i), 0.5);
        }
      }
    }

    .news-list--title {
      color: #FFF;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 10px;
      background-color: rgba(0,0,0,0.5);
    }

    // using this tehniques the container height is set before image is displayed
    // repaint is not triggered
    a {
      height: 0;
      padding-bottom: 65%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }


    &.no-image {
      .news-list--title {
        background: none;
        font-size: 36px;
      }
    }

    // &.small-image {
    //   width: 32%;
    // }

    // &.big-image {
    //   width: 50%;
    // }
  }


}
