.pagination {
  width: 100%;
  padding: $nf-spacing/2 0;

  .pagination--counter {
    float: left;
  }

  .pagination--pages {
    float: right;

    button[disabled] {
      background: transparentize(#FFF, 0.5);
      color:  transparentize(#000, 0.5);
    }

    .pagination--current {
      margin: 0 $nf-spacing/2;
    }
  }

  .pagination--next,
  .pagination--prev {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    background: #FFF;
    border-radius: 4px;
    border: 0;
  }
}
