<?xml version="1.0" ?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.mihneabelcin.com/newsfeed" version="0.1.0">
  <!-- Name of the widget -->
  <name>The News Feed</name>
  <!-- Description is shown when installing widget -->
  <description>simple newsfeed based on data coming from Yahoo pipe</description>
  <!-- Start page for widget -->
  <content src="index.html" />
  <!-- Default icon for widget -->
  <icon src="icon.png" />
  <!-- Widget author -->
  <author>Belcin Mihnea</author>
</widget>
