<div class="pagination" ng-if="newsList">
  <div class="dropdown pagination--counter" ng-class="{ open: dropdownIsOpen }">
    <a class="dropdown--trigger" ng-click="toggleDropdown()">
      Items per page ({{ pagination.itemsPerPage }})
      <svg class="svg--icon">
        <use xlink:href="#icon-arrowb" />
      </svg>
    </a>
    <ul class="dropdown--menu">
      <li ng-repeat="multiply in [1,2,3,4,5]" ng-click="pagination.setItemsPerpage(multiply * 10)" role="presentation">
        <a href="" role="menuitem">{{ multiply * 10 }} items</a>
      </li>
    </ul>
  </div>
  <div class="pagination--pages">
    <button class="pagination--prev" ng-disabled="pagination.startPos == 0" ng-click="pagination.prevPage()">
      <svg class="svg--icon">
        <use xlink:href="#icon-left" />
      </svg>
      Prev Page
    </button>
    <span class="pagination--current">{{ pagination.startPos + 1 }} / {{ pagination.totalPages() }}</span>
    <button class="pagination--next" ng-disabled="pagination.startPos == pagination.totalPages()" ng-click="pagination.nextPage()">
      Next Page
      <svg class="svg--icon">
        <use xlink:href="#icon-right" />
      </svg>
    </button>
  </div>
</div>

<div class="news-list" id="accordion" ng-if="newsList">
  <div class="news-list--item" ng-repeat="news in newsList | startFrom:pagination.startPos*pagination.itemsPerPage | limitTo: pagination.itemsPerPage" ng-class="{ 'big-image': news.isBig, 'small-image': !news.isBig, 'no-image': !news.visual }">
    <h2 class="heading-4">
      <a ng-click="openItem($index + pagination.startPos*pagination.itemsPerPage + 1)">
        <img ng-if="news.visual" ng-src="{{ news.visual }}" alt="{{ news.title }}" />
        <span class="news-list--title">{{ news.title }}</span>
      </a>
    </h2>
  </div>
</div>
