home tpl

<div class="row" ng-if="newsList" style="margin: 20px 0;">
  <div class="dropdown col-md-3">
    <a role="button" data-toggle="dropdown" href="#">Items per page<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li ng-click="pagination.setItemsPerpage(10)" role="presentation"><a href="" role="menuitem">10 items</a></li>
      <li ng-click="pagination.setItemsPerpage(20)" role="presentation"><a href="" role="menuitem">20 items</a></li>
      <li ng-click="pagination.setItemsPerpage(30)" role="presentation"><a href="" role="menuitem">30 items</a></li>
      <li ng-click="pagination.setItemsPerpage(40)" role="presentation"><a href="" role="menuitem">40 items</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <button ng-disabled="pagination.startPos == 0" ng-click="pagination.prevPage()"> Prev </button>
    <span>{{ pagination.startPos + 1 }} / {{ pagination.totalPages() }}</span>
    <button ng-disabled="pagination.startPos == pagination.totalPages()" ng-click="pagination.nextPage()"> Next </button>
  </div>
</div>

<div class="panel-group" id="accordion" ng-if="newsList">
  <div class="panel panel-default" ng-repeat="news in newsList | startFrom:pagination.startPos*pagination.itemsPerPage | limitTo: pagination.itemsPerPage">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#item{{ $index }}">
          <span ng-if="news.visual"><img ng-src="{{ news.visual }}" alt="{{ news.title }}" /></span>
          {{ news.title }}
        </a>
      </h4>
    </div>
    <div id="item{{ $index }}" class="panel-collapse collapse">
      <div class="panel-body">
        <div ng-bind-html="news.description"></div>
        <a class="follow" href="{{ news.link }}" target="_blank">Read article</a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 -->
