<div class="news-box" ng-if="newsItem">
  <h1 class="news-box--title heading-2">{{ newsItem.title }}</h1>
  <div class="news-box--body" ng-bind-html="newsItem.description"></div>

  <a class="news-box--follow heading-3" href="{{ newsItem.link }}" target="_blank">Read entire article</a>

  <div class="news-box--pagination">
    <a class="news-box--home" ng-click="goHome()">Back to news list</a>
    <a class="news-box--prev" ng-click="prevNews()">Prev news</a>
    <a class="news-box--next" ng-click="nextNews()">Next news</a>
  </div>
</div>
